.span5
        form#conteudo(action='spread/contents', method='post', accept-charset='utf-8', enctype='multipart/form-data')
                input.span5(placeholder='Coloque um título para sua mídia.',type='text', name='title')
                textarea.span5(name='content', rows='4', cols='30',placeholder='Descreva o conteúdo dessa mídia, de uma forma breve.')
.tutor.span5
        | No envio de mídias você espalha o conteúdo audiovisual para a rede Efforia, passando também pelo canal oficial do Youtube em youtube.com/EfforiaTV
