form#image(style='text-align: center;', action='promote/eventimage', method='post', accept-charset='utf-8', enctype='multipart/form-data')
        input.span5.file(style='opacity: 0;', name='file', type='file')
        #upload
          img.upload(src='#{ static_url }img/upload.png')
        .id.hidden
