.span5
        h2 #{credit} créditos a serem resgatados.
        label.span1 Créditos
        input#grabcredit.span4(type='number',value='1',min='1')
.tutor
        | Neste módulo é possível transformar os créditos ganhos por meio de socialfunding em dinheiro, sendo este depositado numa conta PayPal. É simples e fácil para realizar o procedimento.
