form#image(style='text-align: center;', action='spread/images', method='post', accept-charset='utf-8', enctype='multipart/form-data')
        #upload
          img.upload(src='#{ static_url }img/upload.png',)
        input.span5.file(style='opacity: 0;', name='file', type='file')
        textarea.span5.description(placeholder='Dê uma breve descrição sobre a imagem que você está enviando para o Efforia.',name='description',type='text')
