head
    script(type='text/javascript', src='/static/js/promoteapp.js')
    script(type='text/javascript', src='/static/js/promoteevents.js')
body
    .modal-dialog
      .modal-content
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3.modal-title Criação de Movimentos
        .modal-body(style='background-color: #740038; text-align:center;')
            form#movement(method='post',action='promote/movement',role='form')
              if keys
                h2 #{quantity} Interesses
                .col-lg-12.form-group
                  each k in keys
                    .span1.keyword #{k}
                .col-lg-12.form-group
                  input#movement_title.form-control(type='text', name='title', placeholder='Que nome iremos dar ao movimento?')
              else
                img(src='static/img/movement.png')
                h2 Sem movimentos ou interesses no momento.
              .tutor
                | Movimentos são uma forma fácil de acompanhar todos os projetos do Efforia em que você apoia. Para utilizar, basta selecionar o interesse para agrupá-los num movimento.
        .modal-footer(style="margin-top:0px;")
            button.btn(data-dismiss='modal', aria-hidden='true') Cancelar
            button.btn.btn-primary.send.movementcreate(data-loading-text='Promovendo...') Promover