form#pageform(action='spread/spread', method='post', accept-charset='utf-8')
        label.span1 Título
        input#pagetitle.span4.title(type='text',placeholder='Coloque o título da página na barra de menus.')
        textarea#pagetxt.wysiwygtxt(cols='60', rows='7', placeholder='Escreva o seu texto ou comentário aqui.')
.tutor.span5
        | Neste módulo você pode construir páginas para o seu site oficial. Para criá-las, basta dar um nome que aparecerá na barra de menus e montar a página ao seu gosto. Ela é editável pelo mosaico.
