form#video(style='text-align: center;', action='#{ url }?nexturl=http://#{ hostname }/promote/linkproj', method='post', accept-charset='utf-8', enctype='multipart/form-data')
        #upload(style='text-align:center;')
                input(type='hidden', name='token', value='#{ token }')
                input(style='opacity: 0;', name='file', type='file')
                img.upload(src='#{ static_url }img/upload.png',)
