#promotewindow.col-lg-12(style='text-align:center')
        form.form-group#promoteform(action='promote/promote', method='post', accept-charset='utf-8')
                textarea#promotetext.form-control(cols='60', rows='10', placeholder='Escreva o seu texto ou comentário aqui.')
.tutor.col-lg-12.black
        | Aqui você espalha o texto ou comentário sobre o conteúdo do Efforia que quiser. Além de aparecer nas principais páginas da rede, a postagem também é publicada em Facebook e Twitter, ao mesmo tempo.
