head
    script(type='text/javascript', src='#{static_url}js/spreadapp.js')
    script(type='text/javascript', src='#{static_url}js/spreadevents.js')
body
    .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3#myModalLabel Espalhe
    .modal-body(style='background-color: #1364F0;')
            .btn-group(data-toggle='buttons-radio', style='text-align: center;')
                    button.btn.option.active(href='spread/spread',next='postspread') Postagem
                    button.btn.option(href='spread/media',next='videospread') Mídia
                    button.btn.option(href='spread/products',next='productspread') Produtos
            .form(style='margin-top: 10px;')
    .modal-footer
            button.btn(data-dismiss='modal', aria-hidden='true') Cancelar
            button.btn.btn-primary.send.postspread(data-loading-text='Espalhando...') Espalhar
