#spreadwindow(style='text-align:center')
        form#spreadform(action='/spread', method='post', accept-charset='utf-8')
                textarea#spreadtext.wysiwygtxt(cols='60', rows='7', placeholder='Escreva o seu texto ou comentário aqui.')
.tutor.span5
        | Aqui você espalha o texto ou comentário sobre o conteúdo do Efforia que quiser. Além de aparecer nas principais páginas da rede, a postagem também é publicada em Facebook e Twitter, ao mesmo tempo.
