head
    script(type='text/javascript', src='static/js/spreadapp.js')
    script(type='text/javascript', src='static/js/spreadevents.js')
body
    .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3#myModalLabel Vídeo
    .modal-body(style='background-color:#000;')
            .spreadcontent
              #player
              #message
            .id(style='display:none') #{playableid}
            .token(style='display:none;') >!
    .modal-footer
            button.btn.btn-danger.deletable Remover
            button.btn.btn-primary.send.spread Espalhar
