<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Django Feedly Demo</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="{{static_url}}css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{static_url}}css/bootstrap-wysiwyg.css"/>
    <link rel="stylesheet" type="text/css" href="{{static_url}}css/datepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{static_url}}css/wysiwyg-color.css"/>
    <link rel="stylesheet" type="text/css" href="{{static_url}}css/efforia.css"/>
    <link rel="shortcut icon" href="{{static_url}}img/logo.png"/>
    <script type="application/json" src="{{static_url}}json/elements.json"></script>
    <script type="text/javascript" src="{{static_url}}js/vendor/coffeescript.js"></script>
    <script type="text/javascript" src="{{static_url}}js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="{{static_url}}js/vendor/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="{{static_url}}js/vendor/jquery.infinitescroll.min.js"></script>
    <script type="text/javascript" src="{{static_url}}js/vendor/jquery.tubeplayer.js"></script>
    <script type="text/javascript" src="{{static_url}}js/vendor/jquery.html5.fileupload.js"></script>
    <script type="text/javascript" src="{{static_url}}js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{static_url}}js/vendor/bootstrap.wysihtml5.min.js"></script>
    <script type="text/javascript" src="{{static_url}}js/vendor/bootstrap.wysiwyg.min.js"></script>
    <script type="text/javascript" src="{{static_url}}js/vendor/bootstrap.wysiwyg.pt-BR.js"></script>
    <script type="text/javascript" src="{{static_url}}js/vendor/bootstrap.datepicker.js"></script>
    <script type="text/javascript" src="{{static_url}}js/vendor/bootstrap.datepicker.pt-BR.js"></script>
    <script type="text/javascript" src="{{static_url}}js/vendor/rangy.js"></script>
    <script type="text/javascript" src="{{static_url}}js/globals.js"></script>
    <script type="text/javascript" src="{{static_url}}js/events.js"></script>
    <script type="text/javascript" src="{{static_url}}js/app.js"></script>
    <script type="text/coffeescript" src="{{static_url}}js/main.coffee"></script>
    <style>html,body { background:white; }</style>
  </head>
  <body>
    <nav id="Navegacao" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="padding:10"><img height="30" src="/static/img/efforia.png"/></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form action="explore" method="get" class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="O que você quer encontrar hoje?">
            </div>
          </form>
          <ul class="nav navbar-nav">
            <li>
              <div id="Progresso" class="content hidden"><img href="{{static_url}}img/progress.gif"/>
                <div class="message inline divider">Carregando...</div></div>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if perm %}
              {% for a in apps%}
                <li><a href="{{a.1}}" class="app"><h2 style="color:white; margin:0"><span class="glyphicon {{a.2}}"></span>&nbsp; {{a.0}}</h2></a></li>
              {% endfor %}
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Efforia</a></li>
            <li><a href="#">Hub</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="Grade" class="transitions">
      <!--<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 brick stamp">
        <ul class="block nav nav-pills nav-stacked">
          <div class="profilehead">
            {% if user.profile.visual %}
            <img href="{{user.profile.visual}}" width="100%"/>
            {% else %}
            <div class="centered"><span class="glyphicon glyphicon-user giant-glyphicon"></span></div>
            {% endif %}
            <h2><dl><dt>{{ user.first_name }}</dt></dl></h2>
            <div class="id hidden">{{user.profile.id|escape}}</div>
          </div>
          {% if perm %}
          <li style="width:60%; margin-left:20%;">
            <div style="margin-bottom:-20px;" class="paypal hidden"></div>
            <div class="pagseguro hidden"></div>
          </li>
          <li><a href="efforia/basket" class="cart">
              <h2 class="menu"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp; Compras</h2></a></li>
          <li><a href="efforia/basketclean" class="cartclean">
              <h2 class="menu"><span class="glyphicon glyphicon-trash"></span>&nbsp; Limpar compras</h2></a></li>
          <li><a href="efforia/following" class="following">
              <h2 class="menu"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp; Seguindo</h2></a></li>
          <li><a href="efforia/config" class="page">
              <h2 class="menu"><span class="glyphicon glyphicon-cog"></span>&nbsp; Ajustes</h2></a></li>
          <li><a href="#" class="logout">
              <h2 class="menu"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Sair</h2></a></li>
          {% else %}
          <li><a href="#" class="logout">
              <h2 class="menu"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Sair</h2></a></li>
          {% endif %}
        </ul>
      </div>!-->
    </div>
    <div id="Espaco" class="modal hide fade"></div>
  </body>
</html>