h2 Que tipo de mídia você quer publicar?
.btn-group(data-toggle='buttons-radio')
    button.btn-large.btn.option(href='spread/images',next='imagespread',style='width:33.33%') 
        img.big-icon(src='static/img/picture.png')
        | Uma Foto
    button.btn-large.btn.option(href='spread/contents',next='videospread',style='width:33.33%') 
        img.big-icon(src='static/img/play.png')
        | Um Vídeo
    button.btn-large.btn.option(href='spread/contents',next='videospread',style='width:33.33%') 
        img.big-icon(src='static/img/music.png')
        | Um Videoclipe
