<div style="text-align:center;">
	<h2>{{ product.name[1:] }}</h2>
	<p><a href="seller?s={{ product.seller }}">!{{ product.seller }}</a></p>
	<p><img src="{{ product.visual }}" width="300" height="200"/></p>
	<!--<p>{{ product.category }}</p>!-->
</div>
<p>Descrição: {{ product.description }}</p>
<p>{{ product.credit }} Créditos</p>
<div class="time" style="display:none;">{{ product.date }}</div>
<div class="date">{{ product.date.day }} de {{ locale[product.date.month-1] }}</div>
<div style="text-align:center">
	<a class="cart ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em; width:285px;">Adicionar ao carrinho</a>
</div>