.span5
        form#product(action='spread/products', method='post')
                input#id_name.span5(name='name', maxlength='150', type='text', placeholder='Que nome o seu produto terá?')
                input.typeahead.span5(name='category', type='text', placeholder='Em qual categoria que ele se encaixa?')
                input#id_credit.span5(name='credit', type='text', placeholder='Quanto que ele valerá, em reais?')
                textarea#id_description.span5(rows='3', cols='60', name='description',placeholder='Descreva aqui, de uma forma breve, o produto e as suas vantagens; venda o seu peixe.')
.tutor.span5
        | Nesta parte é possível fazer a criação de novos produtos, com suas descrições e ilustrações, pronto para divulgação dentro e fora da rede Efforia.
