form#upload(style='text-align: center;', action='#{ url }?nexturl=http://#{ hostname }/spread/expose', method='post', accept-charset='utf-8', enctype='multipart/form-data')
        img.upload(src='#{ static_url }img/upload.png',)
        input(type='hidden', name='token', value='#{ token }')
        input(style='opacity: 0;', name='file', type='file')
