<form id="profile" action="profile" role="form" style="margin-top:25px;" class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-2 control-label">Usuário    </label>
    <div class="col-lg-10">
      <input name="user" placeholder="Coloque o nome de usuário que desejar." type="text" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Email              </label>
    <div class="col-lg-10">
      <input name="email" placeholder="Coloque o e-mail que costuma utilizar." type="text" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Nome               </label>
    <div class="col-lg-10">
      <input name="name" placeholder="Diga o seu primeiro nome" type="text" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Sobrenome  </label>
    <div class="col-lg-10">
      <input name="lastn" placeholder="Diga o seu sobrenome" type="text" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Aniversário</label>
    <div class="col-lg-10">
      <input name="birth" placeholder="Digite a data no formato 01/01/2012" type="text" class="form-control datepicker"/>
    </div>
  </div>
  <div class="form-group">
    <div id="passwordchange"></div><a id="password" class="passwordchange btn btn-block">Trocar a senha</a>
  </div>
</form>