<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Efforia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-wysiwyg.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/wysiwyg-color.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/efforia.css">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logo.png">
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/coffeescript.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.infinitescroll.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.tubeplayer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.html5.fileupload.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap.wysihtml5.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap.wysiwyg.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap.wysiwyg.pt-BR.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap.datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap.datepicker.pt-BR.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/rangy.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/globals.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/events.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
    <script type="text/coffeescript" src="{{ STATIC_URL }}js/sandbox.coffee"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-bottom" style="margin-top:0px;">
      <div class="navbar-inner">
        <ul class="nav">
            <a href="/" class="navbar-brand" style="padding:10px;"><img src="{{ STATIC_URL }}img/efforia.png" height="30"/></a>
            <a href="/efforia/participate" class="btn btn-success navbar-btn navbar-right">Entrar</a>      
            <p class="navbar-text navbar-right">Uma tecnologia da <a href="http://www.efforia.com.br" class="navbar-link">Agência Efforia</a></p>
        </ul>
      </div>
    </div>
      {% block base_content %}{% endblock %}
  </body>
</html>
