{% extends "base.html" %}
{% block base_content %}
<head>
    <style>
        html { 
          background: url("/static/img/wallpaper.png") no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
    </style>
</head>
<div class="jumbotron centered" style="margin:5%; color:white; background:transparent">
  <h1 style="width:80%; margin-left:10%; font-weight:bold;">A sua nova forma de criar aplicativos e sites incríveis</h1>
  <form action="/efforia/participate" method="get">
  <div class="input-group input-group-lg" style="width:80%; margin-left:10%; margin-top:5%">
    <span class="input-group-addon"><span class="glyphicon glyphicon-search black"></span></span>
    <input class="form-control input-lg" placeholder="O que você quer explorar hoje?"/>
  </div>
  </form>
</div>
{% endblock %}