<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-wysiwyg.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/datepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/wysiwyg-color.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/efforia.css"/>
    <link rel="shortcut icon" href="/static/img/logo.png"/>
    <script type="application/json" src="/static/json/elements.json"></script>
    <script type="text/javascript" src="/static/js/vendor/coffeescript.js"></script>
    <script type="text/javascript" src="/static/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/jquery.infinitescroll.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/jquery.tubeplayer.js"></script>
    <script type="text/javascript" src="/static/js/vendor/jquery.html5.fileupload.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/bootstrap.wysihtml5.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/bootstrap.wysiwyg.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/bootstrap.wysiwyg.pt-BR.js"></script>
    <script type="text/javascript" src="/static/js/vendor/bootstrap.datepicker.js"></script>
    <script type="text/javascript" src="/static/js/vendor/bootstrap.datepicker.pt-BR.js"></script>
    <script type="text/javascript" src="/static/js/efforia.js"></script>
    <script type="text/javascript" src="/static/js/animation.js"></script>
    <script type="text/javascript" src="/static/js/globals.js"></script>
    <script type="text/javascript" src="/static/js/events.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/promoteapp.js"></script>
    <script type="text/javascript" src="/static/js/promoteevents.js"></script>
    <script type="text/coffeescript", src="/static/js/view.coffee"></script>
    <style>html,body { background:white; }</style>
  </head>
  <body>
    <div id="Navegacao" role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <a style="padding: 10px;" href="http://promova.co/" class="navbar-brand">
          <img height="30" src="/static/img/promote.png"/>
        </a>
      </div>
    </div>
    <div class="col-lg-12" style="margin-top:60px">
      <div class="row">
        <h1 class="projectname">{{ project.name_trimmed }}</h1>
        <h2 class="centered">
          <span class="label label-default">
            Até {{ project.date.day }} de {{ project.month }}
          </span>
        </h2>
      </div>
      <div id="Espaco" class="row container well centered" style="margin-top:20px">
        <div style="background:none; color:black;" class="col-lg-8">
          <div class="promotecontent">
            <div id="player" href="{{project.ytoken}}"></div>
            <p>{{ project.content|safe }}</p>
          </div>
        </div>
        <div class="id hidden">{{ project.id }}</div>
        <div class="token hidden">@!</div>
        <div class="col-lg-4">
          <button data-loading-text="Investindo..." class="btn btn-block btn-lg btn-success second pledge">Investir nesse projeto</button>
          <button data-loading-text="Promovendo..." class="btn btn-block btn-lg btn-primary send promote">Promover o projeto nas redes sociais</button>
          {% if perm %}
            <button class="btn btn-block btn-lg btn-danger deletable">Remover este projeto</button>
          {% endif %}
          <div id="message">
          </div>
          <div class="progress" style="margin:20px;">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ ratio }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ ratio }}%">
                <span class="sr-only">{{ ratio }}% Complete</span>
            </div>
          </div>
          <div class="justified divider">
            <div>
              <h1 style="color:black; font-size:8em">{{ project.remaining }}</h1>
              <h2 style="font-weight:normal; color:black;">dias para o evento</h2>
            </div>
            <a class="backers">
              <h1 style="color:black; font-size:8em">{{ backers }}</h1>
              <h2 style="font-weight:normal; color:black;">participarão do evento</h2>
            </a>
            <h2>Criado pelo usuário:</h2>
            <div class="user">
              <div class="profile">
                <h2 class="name white content centered">{{ project.user.first_name }}</h2>
                <div class="centered">
                {{ project.user.profile.career }}
                </div>
                {% if user.profile.visual %}
                <img src="{{ project.user.profile.visual }}" width="100%"/>
                {% else %}
                <h1 class="centered"><span class="glyphicon glyphicon-user big-glyphicon"></span></h1>
                {% endif %}
                <div class="content centered"> {{ project.user.profile.bio }} </div>
                <div class="content date centered"> Entrou em {{ project.user.profile.date }} </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>